services:
  - type: web
    name: flashcroquisapi
    env: docker
    region: frankfurt # optional (defaults to oregon)
    plan: free # optional (defaults to starter)
    branch: main # optional (defaults to master)
    numInstances: 1
    healthCheckPath: /healthz
    envVars:
      - key: PORT
        value: 10000
      - key: SECRET_KEY
        sync: false  # à configurer dans les paramètres du service
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 60
      - key: DATABASE_URL
        sync: false  # à configurer dans les paramètres du service
      - key: FRONTEND_URL
        sync: false  # à configurer dans les paramètres du service
      - key: CORS_ORIGINS
        sync: false  # à configurer dans les paramètres du service
      - key: DEBUG
        value: false
      - key: LOG_LEVEL
        value: info

 